<h2>Users</h2>
<button (click)="addUser({firstName: 'Mary', lastName: 'Johnson', isActive: true})" [disabled]="!enableAdd" class="w-100 btn btn-lg btn-outline-primary mb-3" [ngClass]="currentClasses">Add New User</button>
<ul class="list-unstyled" *ngIf="loaded && users.length > 0">
    <li class="card card-body mb-2" *ngFor="let item of users" [class.bg-light]="item.isActive" [style.border-color]="item.isActive ? 'green' : ''">
        <h3> {{ item.firstName }} {{ item.lastName }} <small *ngIf="item.age && item.address"><button (click)="item.hide = !item.hide" class="btn btn-dark btn-sm"><i [ngClass]="item.hide? 'fa fa-plus' : 'fa fa-minus'"></i></button></small></h3>
        <ul class="list-group" *ngIf="!item.hide && item.age && item?.address">
            <li class="list-group-item">Age: {{ item.age }}</li>
            <li class="list-group-item">Address: {{ item.address?.street }}, {{ item.address?.city }} {{ item.address?.state }}</li>
            <li class="list-group-item">Joined: {{ item.registered | date}}</li>
        </ul>
    </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users Found</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>